@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey {
  color: #666;
}
.cap {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li img {
  width: 75%;
}

.wrapper {
  width: 22%;
  height: 90vh;
  background: url("/assets/Images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #666;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
  position: absolute;
}

.section1 {
  position: absolute;
  top: 0px;
  left: -100px;
}

.section1 li:nth-of-type(1) {
  position: relative;
  left: 125%;
  top: 35px;
}

.section1 li:nth-of-type(2) {
  position: relative;
  top: 373px;
  left: 83%;
  width: 69%;
}

.section2 {
  left: 0;
  bottom: 0;
}

.section2 p {
  position: relative;
  color: #b73e3e;
  text-transform: capitalize;
  font-size: 25px;
}

.section2 ul {
  display: flex;
  flex-direction: column;
}

.section3 {
  right: 0;
}

.section3 ul {
  display: flex;
  flex-direction: column;
}
.section3-li li img {
  width: 50%;
}
.section3-li li:nth-of-type(2) img {
  width: 40%;
}

.section3-li li:nth-of-type(3) img {
  width: 36%;
}

.section4 {
  left: 0;
}

.section5 {
  bottom: 0;
  right: 0;
}

/*Animation start*/

/*section 1 animation*/

.section1 li:nth-of-type(2) img {
  opacity: 0.9;
  animation-name: table;
  animation-duration: 3s;
}

@keyframes table {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.9;
  }
}

/*section 1 animation end*/

/*section 2 animation*/
.section2 li:nth-of-type(1) img {
  width: 85%;
}

.section2 li:nth-of-type(1) {
  position: relative;
  top: 127px;
  left: 50%;
  width: 70%;
  animation-name: sandwich;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.section2 li:nth-of-type(2) {
  position: relative;
  width: 62%;
  bottom: 98px;
  right: 505;
  left: 240%;
  animation-name: sadsonali;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.section2-para {
  left: 40%;
  position: relative;
  text-align: center;
  bottom: 74px;
  animation-name: boring;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes sandwich {
  25% {
    left: 50%;
  }
  50% {
    left: 122%;
  }
  80% {
    left: 122%;
  }
  100% {
    left: 50%;
  }
}

@keyframes sadsonali {
  25% {
    left: 240%;
  }
  50% {
    left: 170%;
  }
  75% {
    left: 170%;
  }
  100% {
    left: 240%;
  }
}

@keyframes boring {
  25% {
    left: 60%;
  }
  50% {
    left: 128%;
  }
  75% {
    left: 128%;
  }
  100% {
    left: 60%;
  }
  /* from {
    left: 60%;
  }
  to {
    left: 128%;
  } */
}
/*section 2 animation end*/

/*section 3 animation*/

.section3-li li:nth-of-type(1) {
  position: relative;
  right: 245%;
  top: 323px;
  animation-name: plate;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.section3-li li:nth-of-type(2) {
  position: relative;
  right: 241%;
  top: 278px;
  animation-name: inner-sand;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.section3-li li:nth-of-type(3) {
  position: relative;
  right: 238%;
  top: 238px;
  animation-name: bread;
  animation-duration: 4.2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.section3-li li:nth-of-type(4) {
  position: relative;
    right: 210%;
    top: 180px;
}

.section3-li li:nth-of-type(4) img {
  width: 30%;
  transform: rotate(313deg);
}

.section3-li li:nth-of-type(5) img {
  width: 36%;
  animation-name: mayo-img;
  animation-duration: 4s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.section3-li li:nth-of-type(5) {
  position: relative;
  right: 230%;
  top: 161px;
  animation-name: mayo;
  animation-duration: 4.4s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

@keyframes plate {
  from {
    right: 245%;
  }
  to {
    right: 153%;
  }
}

@keyframes inner-sand {
  from {
    right: 241%;
  }
  to {
    right: 150%;
  }
}

@keyframes bread {
  0% {
    right: 241%;
  }
  50% {
    right: 144%;
  }
  49% {
    right: 144%;
    top: 238px;
  }
  71% {
    right: 144%;
    top: 238px;
  }
  100% {
    top: 206px;
    right: 144%;
  }
}

@keyframes mayo {
  0% {
    right: 148%;
  }
  50% {
    right: 148%;
  }
  75% {
    right: 148%;
  }
  100% {
    right: 148%;
  }
}

@keyframes mayo-img {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.9;
  }
}
/*section 3 animation end*/

/*Animation end*/

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
